.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom:20px ;
  max-width: 250px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  justify-content: center;
}
.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
.icon{
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  gap:10px;
}

.value {
  font-size: 22px;
  font-weight: 550;
}

.subtitle {
  font-size: 19px;
  color: #5f5757;
}

.extra {
  margin-top: 10px;
}