.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 250px;
  /* align-items: center; */
  justify-content: center;
}

.icon{
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #666;
  gap:10px;
}

.value {
  font-size: 30px;
  font-weight: 300;
}

.subtitle {
  font-size: 19px;
  color: #5f5757;
}

.extra {
  margin-top: 10px;
}